<ion-header>
    <!-- <app-header></app-header> -->
  <!-- Main Navbar -->
  <app-onboarding-mainheader></app-onboarding-mainheader>
</ion-header>

<ion-content class="task-templates-page">

<ion-content>
  <div class="task-templates-container">
    <div class="header">
      <h2>Task Templates</h2>
      <ion-button class="add-task-btn" fill="solid">
        Add Task
        <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="intro-card">
      <div class="intro-text">
        <h3>Introducing Task Templates</h3>
        <ul>
          <li>
            <ion-icon name="checkmark-outline"></ion-icon>
            Automatically have task assign to employees based on Department / Location etc with new applies to filter
          </li>
          <li>
            <ion-icon name="checkmark-outline"></ion-icon>
            Reduce the hassle of adding task list and assigning them to onboarding group
          </li>
        </ul>
        <a href="#">Click here to know more</a>
      </div>

      <div class="intro-image">
        <img src="assets/task-template.png" alt="Task Templates Illustration" />
      </div>
    </div>
  </div>
</ion-content>


</ion-content>
