@import '../../../../theme/variables.scss';
// calender-css
.filters {
    display: flex;
   .filter-block {
     margin-right: 10px;
   .btn-secondry { 
     padding:12px 24px;
     background: #fff;
     border: 0.5px solid #DEDEDE;
     color: #3498db;
     box-shadow: none;
     font-weight: 600;
     margin: 0;    
     @include normal-text-unbold();
     &:first-child {
       border-bottom-left-radius: 8px;
       border-top-left-radius: 8px;
     }
     &:last-child {
       border-bottom-right-radius: 8px;
       border-top-right-radius: 8px;
     }
     &.active {
       background: #3498DB;
       color: #fff;
       font-weight: 600;
     } 
   } 
   }
 
   .outline-btns {
     .btn-secondry {
   height: 44px;
   padding: 0 10px;
   background: #fff;
   border: 0.5px solid #DEDEDE;
   color: #3498db;
   box-shadow: none;
   font-weight: 600;
   margin: 0;
   &:first-child {
     border-bottom-left-radius: 8px;
     border-top-left-radius: 8px;
   }
   &:last-child {
     border-bottom-right-radius: 8px;
     border-top-right-radius: 8px;
   }
   ion-icon {
     font-weight: 600;
     font-size: 24px;
   }
   &.active {
     background: #3498DB;
     color: #fff;
     font-weight: 600;
   } 
     }
   }
  }
.calendar-container {
    padding: 16px;
    margin-top: 8px;
    .calendar-header {
      background: #fff;
      border: 0.5px solid #DEDEDE;
      width: fit-content;
      height: 44px;
      display: flex;
      align-items: center;
      padding: 6px 8px;
      button {
        background: transparent;
        font-size: 18px;      
        padding-right: 5px;
      }
    }
    .calendar-details-block {
      background: #E9E9E9;
      padding: 16px;      
      margin-top: 15px;
      border-radius: 8px;
.calendar-grid {
  .day-header {
    height: 44px;
  .day-header-cell {    
    background: transparent;
    width: 13.5%;
    height: 44px;
    padding: 16px 8px;
    @include text-bold();
    text-align: left;
    margin: 2px;
  }
}
  .day-cell-row {
    display: flex;
    flex-wrap: wrap;
    .day-cell {      
      background: #fff;
      width: 13.5%;
      height: 100px;
      padding: 16px 8px;
      position: relative;
      border-radius: 4px;
      margin: 2px;
      &.highlight-today  {
        background: #FEE2E2 !important;
      }
      &.weekoffs {
        background: #D0D0D0BA !important;
      }
      &.selected {
        border: 2px solid #3498db;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      .date {
        @include text-style-normal();
      }
      .timing {
      font-size: 10px;
      margin-top: 30px;
      position: absolute;
      bottom: 5px;
      }
    }
  }    
}
.details-container {
  background: #fff;
  border-radius: 4px;
  margin-top: 50px;
  position: relative;
  .details-header {
    background: #E6F1FF;
    height: 110px;
    padding: 16px 8px;
    p {
      margin: 0;
      @include normal-text();
      margin-bottom:8px; 
    }
  }
  .details-block {
     .hours-block {
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    position: absolute;
    left: 24px;
    top: 80px;
    display: flex;    
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 8px 16px;
    z-index: 2;
     div {       
      padding: 5px 16px;
       p:first-child {
        @include normal-text-unbold();       
        margin: 0;
        padding-bottom: 5px;
       }
       p:last-child {
        @include text-style-bold();
        margin: 0;
       }
       &:first-child {
         border-right: 1px solid rgba(210, 210, 210, 1);
       }
     }
     }
     .logs-block {
      height: calc(100vh - 282px);
      overflow: auto;
      --padding-top: 81px !important;
      .card-title {
        @include text-style-bold();
        margin-top: 30px;
        margin-bottom: 0;
      }
      .status {
        display: flex;
        margin: 0;
        @include normal-text();
        margin-bottom: 5px;
        ion-icon {
          border: 1px solid #37A849;
          border-radius: 50%;
          --padding: 3px;
          margin-right: 5px;
          .ionicon {
            stroke: #fff;
          }
        }
        color: #37A849;
      }
      .location {
        margin: 0;
        color: #A3A3A3;
        display: flex;
        @include normal-text();
        ion-icon {
          margin-right: 5px;
          fill: #A3A3A3;
          width: 1.5em;
          height: 1.5em;
        }
      }
      .clock-logs {
        p {
          display: flex;          
          @include normal-text-unbold();
          margin-right: 40px;
        }
      }
     }
  }
}
    }
  }
