@import "../../../global.scss";

ion-content {
  --background: var(--ion-bg-color);
}
.border-block {
  border: 1px solid #ababab80;
  border-radius: 12px;
}
.manage-main-block {
  margin-top: 25px;
  background: #ffffff;
  padding: 16px;
  border-radius: 12px;
  h2 {
    @include card-sub-title();
    margin: 0;
  }
  .sub-text {
    @include text-style-normal();
    color: #4a5568;
    margin-top: 5px;
  }
  ul.custom-btn-tabs {
    border: 1.25px solid #cbd5e0;
    box-shadow: 0px 1px 3px 0px #0000001a;
    border-radius: 30px;
    justify-content: left;
    width: max-content;
    display: flex;
    list-style: none;
    // padding: 8px;
    padding: 5px;
    li {
      width: max-content;
      text-transform: capitalize;
      min-height: 37px;
      padding: 8px 24px;
      display: flex;
      align-items: center;
      cursor: pointer;
      &.active {
        background: $primary-color;
        color: #fff;
        --color-checked: #fff;
        --indicator-height: 0px;
        border: 1.25px solid #edf2f7;
        border-radius: 20px;
        box-shadow: 0px 1px 3px 0px #0000001a;
      }
    }
  }
  .header-title {
    @include card-header-title();
    padding-left: 12px;
    margin: 12px 0;
    font-size: 15px !important;
    span {
      background: $primary-color;
      color: #ffffff;
      padding: 2px 8px;
      border-radius: 15px;
      @include normal-text-unbold();
    }
  }
  .tab-content-list {
    @extend .border-block;
    .table-block {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      .table-list-row {
        .active-status {
          background: rgb(49 130 206 / 24%);
          color: #3182ce;
          border-radius: 16px;
          width: fit-content;
          padding: 8px 16px;
        }
        .inactive-status {
          background: #a0aec040;
          color: #4a5568;
          border-radius: 16px;
          width: fit-content;
          padding: 8px 16px;
        }
      }
    }
  }
  .tab-content-form {
    padding: 24px 0px 24px 24px !important;
    @extend .border-block;
    padding: 24px;
    .form-header {
      @include text-style-bold();
    }
    .form-subheader {
      @include normal-text-unbold();
    }
    ion-list {
      ion-item {
        margin-bottom: 15px;
        --padding-start: 0;
        ion-label {
          @include normal-text-unbold();
          margin-bottom: 8px;
          transform: none;
        }
        ion-input {
          border: 1px solid #ababab;
          border-radius: 8px;
          // height: 37px;
          min-height: 36px;
          padding-left: 12px !important;
          padding-right: 9px !important;
          width: 95%;
        }

        ion-textarea {
          border: 1px solid #ababab;
          border-radius: 8px;
          height: 100px;
          padding-left: 12px;
        }
        ion-select {
          border: 1px solid #ababab;
          border-radius: 8px;
          min-height: 36px;
          padding-left: 12px !important;
          padding-right: 12px !important;
          width: 95%;
        }
      }
    }
    ion-button {
      width: 25%;
      padding: 0;
    }
  }
}

.edit-btn {
  background: transparent;
  padding: 5px;
}
.delete-btn {
  background: transparent;
  padding: 5px;
}
.pagination-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding-right: 12px; // aligns with table padding
}
.tab-hgt {
  max-height: 54vh;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.validation-error {
  color: #e53e3e;
  font-size: 12px;
  margin: 4px 0 2px 0;
  padding: 0;
}
