<!-- Personal Details -->
<div class="row-left content-detail-block">
  <div class="ion-card">
    <p class="header-text row-space-between">Primary Details<img (click)="isEditDetails()"
        src="../../assets/Icons/pencil.svg" width="18"></p>
    <form>
      <ion-grid *ngIf="currentEmployee">
        <ion-row>
          <ion-col>
            <div>
              <p>First Name</p>
              <h6 *ngIf="!IsDetails">{{currentEmployee.FullName}}</h6>
              <ion-input [value]="currentEmployee?.FullName" *ngIf="IsDetails"></ion-input>
            </div>
            <div>
              <p>Gender</p>
              <h6 *ngIf="!IsDetails">{{currentEmployee?.Gender}}</h6>
              <ion-input [value]="currentEmployee.Gender" *ngIf="IsDetails"></ion-input>
            </div>
            <div>
              <p>Marital Status</p>
              <h6 *ngIf="!IsDetails">{{currentEmployee?.MaritalStatus}}</h6>
              <ion-input [value]="currentEmployee.MaritalStatus" *ngIf="IsDetails"></ion-input>
            </div>

          </ion-col>
          <ion-col>
            <div>
              <p>Last Name</p>
              <h6 *ngIf="!IsDetails">{{currentEmployee?.LastName}}</h6>
              <ion-input [value]="currentEmployee.LastName" *ngIf="IsDetails"></ion-input>
            </div>

            <div>
              <p>Blood Group</p>
              <h6 *ngIf="!IsDetails">{{currentEmployee.BloodGroup}}</h6>
              <ion-input [value]="currentEmployee.BloodGroup" *ngIf="IsDetails"></ion-input>
            </div>
            <div>
              <p>Physically Handicapped</p>
              <h6 *ngIf="!IsDetails">{{currentEmployee?.PhysicallyHandicapped}}</h6>
              <ion-input [value]="currentEmployee?.PhysicallyHandicapped" *ngIf="IsDetails"></ion-input>
            </div>
            <ion-button class="primary-btn row-right" type="submit" *ngIf="IsDetails">
              Submit
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
  <!-- Contact Details -->
  <div class="ion-card">
    <p class="header-text row-space-between">Contact Details<img (click)="isEditForm()"
        src="../../assets/Icons/pencil.svg" width="18"></p>
    <form>
      <ion-grid *ngIf="currentEmployee">
        <ion-row>
          <ion-col>
            <div>
              <p>Work Email</p>
              <h6 *ngIf="!Isedit">{{currentEmployee?.WorkEmail}}</h6>
              <ion-input [value]="currentEmployee?.WorkEmail" *ngIf="Isedit"></ion-input>
            </div>
            <div>
              <p>Aadhaar Number</p>
              <h6 *ngIf="!Isedit">{{currentEmployee?.AadhaarNumber}}</h6>
              <ion-input [value]="currentEmployee?.AadhaarNumber" *ngIf="Isedit"></ion-input>
            </div>
            <div>
              <p>Residence Number</p>
              <h6 *ngIf="!Isedit"></h6>
              <ion-input [value]="currentEmployee?.ResidenceNumber" *ngIf="Isedit"></ion-input>
            </div>

          </ion-col>
          <ion-col>
            <div>
              <p>Personal Email</p>
              <h6 *ngIf="!Isedit">{{currentEmployee?.last_name}}</h6>
              <ion-input [value]="currentEmployee?.Email" *ngIf="Isedit"></ion-input>
            </div>
            <div>
              <p>PF Number</p>
              <h6 *ngIf="!Isedit">{{currentEmployee?.pf_number}}</h6>
              <ion-input [value]="currentEmployee?.pf_number" *ngIf="Isedit"></ion-input>
            </div>
            <div>
              <p>PF Number</p>
              <h6 *ngIf="!Isedit">{{currentEmployee?.uan_number}}</h6>
              <ion-input [value]="currentEmployee?.uan_number" *ngIf="Isedit"></ion-input>
            </div>


            <ion-button class="primary-btn row-right" type="submit" *ngIf="Isedit">
              Submit
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</div>
<div class="row-left content-detail-block">
  <!-- Address Details -->
  <div class="ion-card">
    <p class="header-text row-space-between">Addresses<img (click)="isEditAddress()" src="../../assets/Icons/pencil.svg"
        width="18"></p>
    <form>
      <div>
        <p>Current Address</p>
        <h6 *ngIf="!isAdress">{{currentEmployee?.current_address_line1}}</h6>
        <ion-input [value]="currentEmployee?.current_address_line1" *ngIf="isAdress"></ion-input>

      </div>

      <div>
        <p>Permanent Address</p>
        <h6 *ngIf="!isAdress">
          {{currentEmployee?.permanent_address_line1}}</h6>
        <ion-input [value]="currentEmployee?.permanent_address_line1" *ngIf="isAdress"></ion-input>

      </div>
      <div class="row-right" *ngIf="isAdress">
        <ion-button class="primary-btn row-right" type="submit">
          Submit
        </ion-button>
      </div>
    </form>
  </div>
</div>